<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <title>Profanitter</title>
</head>
<body>

    <h1>My admin page</h1><br>

    <form action="{{ url_for('search') }}" method="post" style="margin: 0 auto; width:500px;">

        <div class="form-group" style="float:left; width:450px;">
            <input type="text" name="keyword" placeholder="input your keyword" id="search" size="50">
        </div>

        <div>
        <button type="submit" class="btn btn-info">
          <span class="glyphicon glyphicon-search"></span> Search
        </button>
        </div>
    </form>
</body>
</html>